<div class="add">
  <div class="inner">
    <input type="text" matInput class="add__input" placeholder="Add your new todo" [(ngModel)]="titleTask">
    <textarea type="text" matInput class="add__input" placeholder="description" [(ngModel)]="textTask"
              style="max-width: 400px; min-width: 400px; max-height: 100px;min-height: 100px;">
          </textarea>
    <app-button
      (click)="addTask(); textTask = ''; titleTask=''"
      [disabled]="!titleTask"
      [type]="'add'"
      appTooltip
      [tooltip]="'Add Task'">
      Add Task
    </app-button>
  </div>
</div>
