@import "src/styles/clean";

.container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
  border: 1px #343434 solid;
  border-radius: 3%;
}

.title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  color: #343434;
}

.list {
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin: 30px 0;
}

.add {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.add__input {
  padding: 10px;
  width: 100%;
  border: 1px black solid;
  border-radius: 5px;
  height: 100%;
}

li {
  list-style: none;
}

.spinning {
  position: absolute;
  top: 110px;
  left: 170px;
  margin: 100px;
  background-color: aliceblue;
}
