<div class="container">
  <h1 class="title">
    ToDo List
  </h1>
  <ul class="list">
    <li class="list__item">
      <p class="item__text">
        Buy Iphone
      </p>
      <button class="item__btn">
        <img src="assets/img/delete.svg" alt="">
      </button>
    </li>
    <li class="list__item">
      <p class="item__text">
        Watch TV
      </p>
      <button class="item__btn">
        <img src="assets/img/delete.svg" alt="">
      </button>
    </li>
    <li class="list__item">
      <p class="item__text">
        Sleep 8 hours
      </p>
      <button class="item__btn">
        <img src="assets/img/delete.svg" alt="">
      </button>
    </li>
  </ul>
  <div class="add">
    <input type="text" class="add__input" placeholder="Add your new todo">
    <button class="add__btn">Add Task</button>
  </div>
</div>
