<div class="container">
  <div class="column">
    <div class="inner">
      <h1 class="title">
        ToDo List
      </h1>
      <ul class="list">
        <li *ngFor="let item of toDoStoreService.items" (click)="onItemClick(item)"
            [ngStyle]="{'background-color': item.clicked ? 'red' : ''}">
          <app-to-do-item [todo]="item" (removeItem)="toDoStoreService.deleteTask($event)">
          </app-to-do-item>
        </li>
      </ul>
    </div>
    <app-add-task></app-add-task>
  </div>
  <div class="description">
    <p>
      {{description}}
    </p>
  </div>
</div>
