@import "src/styles/clean";

.container {
  display: flex;
  margin-left: 230px;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  color: #343434;
}

.list {
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin: 30px 0;
  max-width: 500px;
}

li {
  list-style: none;
  padding: 3px;
  border-radius: 5px;
}

.description {
  width: 100%;
  min-height: 100%;
  background-color: #343434;
  border-radius: 5px;
  padding: 20px;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;

  button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    background-color: #343434;
    border-radius: 5px;
  }
}
