<div class="container">
  <div class="column" *ngIf="!isLoading">
    <div class="inner">
      <h1 class="title">
        ToDo List
      </h1>
      <ul class="list">
        <li *ngFor="let item of items">
          <app-to-do-item [todo]="item" (removeItem)="deleteTask($event)">
          </app-to-do-item>
        </li>
      </ul>
      <div class="add">
        <div class="">
          <mat-form-field class="example-full-width" style="width: 100%;">
            <input type="text" matInput class="add__input" placeholder="Add your new todo" [(ngModel)]="titleTask">
          </mat-form-field>
          <textarea type="text" matInput class="add__input" placeholder="description" [(ngModel)]="textTask"
                    style="max-width: 410px; min-width: 410px">
          </textarea>
        </div>
        <app-button [title]="'Add Task'"
                    (click)="addTask()"
                    [disabled]="!titleTask"
                    [type]="'add'"
                    appTooltip
                    [tooltip]="'Add Task'">
        </app-button>
      </div>
    </div>
  </div>
  <div class="spinning" *ngIf="isLoading">
    <img src="assets/img/spinning.gif" alt="">
  </div>
</div>
