<div class="add">
  <div class="inner">
    <input type="text" matInput class="add__input" placeholder="Add your new todo" [(ngModel)]="titleTask">
    <textarea type="text" matInput class="add__input" placeholder="description" [(ngModel)]="textTask"
              style="max-width: 500px; min-width: 500px">
          </textarea>
    <app-button [title]="'Add Task'"
                (click)="toDoStoreService.addTask(titleTask, textTask); textTask = ''; titleTask=''"
                [disabled]="!titleTask"
                [type]="'add'"
                appTooltip
                [tooltip]="'Add Task'">
    </app-button>
  </div>
</div>
